:root{
--main_color:#03001C ;
--design_color:#b6eada ;
--second_color:#301e67 ;
}
@font-face {
    font-family: 'Vazir';
    src: url('Vazir-Bold.eot');
    src: url('Vazir-Bold.eot?#iefix');
    src: url('Vazir-Bold.woff');
    src: url('Vazir-Bold.ttf');
    font-weight: bold;
  }

*{
    box-sizing: border-box;
    /* font-family: 'vazir'; */
    color: var(--design_color);
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    direction: rtl;
background-color: var(--main_color);
margin: 0;
}
menu{
    background-color:#301e6779;
    height: 80PX;
    margin: 0;
display: flex;
justify-content: space-between;
}
menu img{
    height: 40vh;
    margin: -64px 0 0 0;
}
menu input{
    height: 30px;
    margin: 30px 0 0 5px;
}
.mtn{
 padding: 30px 5px;
 font-size: 18px;
}
header{
    margin-top: 20px;
    font-size: 50px;
    margin-bottom: 80px;
}
.backcards{
    background-color: var(--second_color);
    height: 200px;
    margin-top: 5px;
    padding: 40px 3px 0 5px;
    display: flex;
    justify-content: space-between;
}
#sign-in{
    background-color: var(--main_color);
    height: 500px;
}
footer{
    background-color: #38266cd7;
    height: 400px;
}
.img{
    height: 130px;
}
section img:hover{

height: 200px;
}
section h2{
    text-align: center;
    padding: 5px 0;
}
#box-sgin-in{
    background-color: #1f124757;
    height: 340px;
    width: 285px;
    margin: 0px 640px;
    border-radius: 6px;
    padding:10px;
}
section div div{
    background-color: rgba(128, 128, 128, 0.581);
    height: 50px;
 border-radius: 6px; 
 text-align: center;
 margin-top: 5px;
}
.div{
    background-color: rgba(128, 128, 128, 0.581);
    height: 50px;
 border-radius: 6px; 
 text-align: center;
 margin: 5px;
}
#btn{
background-color: #402b81;
cursor: pointer;
}